<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
	integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
	crossorigin="anonymous"
/>
<link rel="stylesheet" href="css/chat.css">
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>NetoTech</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script defer src="js/fontawesome/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    
    <header class="s-header">
        <div class="row">

            <div class="s-header__logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="Homepage">
                </a>
            </div>

            <nav class="s-header__nav">
                <ul>
                    <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                    <li><a class="smoothscroll" href="#services">Services</a></li>
                    <li><a class="smoothscroll" href="#portfolio">Portfolio</a></li>
                    <li><a class="smoothscroll" href="#blog">Journal</a></li>
                    <li><a class="smoothscroll" href="#about">About Us</a></li>
                    <li><a class="smoothscroll" href="#contact">Contact</a></li>
                </ul>
            </nav>

            <a class="s-header__menu-toggle" href="#0" title="Menu">
                <span class="s-header__menu-icon"></span>
            </a>

        </div> <!-- end row -->
    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width="3000" data-natural-height="2000">

        <div class="s-home__content">

            <div class="s-home__slider">

                <div class="s-home__slide s-home__slide--1">
                    <div class="row">
                        <div class="column large-12 s-home__slide-text">
                            <h2>
                            Hello, we are <span>NetoTech</span>.
                            We specialize in UI design, branding & visual identity.
                            </h2>
                            <p>
                            Aenean condimentum, lacus sit amet luctus lobortis, 
                            dolores et quas molestias excepturi enim tellus ultrices 
                            elit, amet consequat enim elit noneas sit amet luctu.
                            </p>
                        </div>
                    </div>
                </div> <!-- end s-home__slide -->

                <div class="s-home__slide s-home__slide--2">
                    <div class="row">
                        <div class="column large-12 s-home__slider-text">
                            <h2>
                            See some of <a href="#portfolio" title="">our works</a> or 
                            <a href="#contact" title="">get in
                            touch</a> to discuss how we could help you.
                            </h2>
                            <p>
                            Expedita tempora nostrum. Quidem sit consequatur. Inventore 
                            aut ut necessitatibus. Corporis suscipit quis consequatur aut 
                            aliquid vitae et architecto nam.
                            </p>
                        </div>
                    </div>
                </div> <!-- end s-home__slide -->

            </div> <!-- end s-home__slider -->

        </div> <!-- end s-home__content -->

        <div class="s-home__nav-arrows">
            <div class="s-home__arrow-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"/></svg>
            </div>
            <div class="s-home__arrow-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
            </div>
        </div> <!-- end s-home__nav-arrows -->

        <div class="s-home__line"></div>

    </section> <!-- end s-home -->


    <!-- services
    ================================================== -->
    <section id="services" class="s-services target-section s-dark">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Services</h2>
                <p class="desc">Our list of awesome services.</p>
            </div>

            <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                <p class="lead">
               We provide wide range of customized affordable web development services in Kerala. Website design, development and SEO. secure hosting with backup. It does not matter where you are located. We doing all works from different locations. We provide offshore web development service worldwide.
                </p>
            </div>
        </div> <!-- end section-head -->

        <div class="row block-large-1-3 block-medium-1-2 block-tab-full services-list">
            {{#each services}}
            <div class="column services-item" data-aos="fade-up">
                  


                <h5>{{title}}</h5>
                <p>
                {{description}}
                </p>
            </div> <!-- end services-item -->
                {{/each}}
               
        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- portfolio
    ================================================== -->
    <section id="portfolio" class="s-portfolio target-section">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p class="desc">Check out our latest projects.</p>
            </div>

            <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                <p class="lead">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
                excepturi sint occaecati cupiditate. At vero eos et accusamus et iusto odio 
                dignissimos ducimus qui blanditiis praesentium.
                </p>
            </div>
        </div> <!-- end section-head -->

        <div class="row block-large-1-3 block-medium-1-2 block-mob-full folio-list">
 {{#each Portfolio}}
            <div class="column folio-item" data-aos="fade-up">
                <a href="#modal-01" class="folio-item__thumb" data-lity>
                    <img src="{{image}}" 
                         srcset="images/portfolio/droplet.jpg 1x, 
                                 images/portfolio/droplet@2x.jpg 2x" alt="">
                    <span class="folio-item__text">
                        {{title}}
                    </span>
                </a>
            </div> <!-- end folio-item -->

           {{/each}}

        </div> <!-- end folio-list -->


        <!-- Modal Popup
        =========================================================== -->
        <div id="modal-01" class="modal-popup lity-hide">

            <img src="images/portfolio/gallery/g-droplet.jpg" alt="" />

            <div class="modal-popup__desc">
                <h5>Droplet</h5>
                <p>Odio soluta enim quos sit asperiores rerum rerum repudiandae cum. Vel voluptatem alias qui assumenda iure et expedita voluptatem. Ratione officiis quae.</p>
                <ul class="modal-popup__cat">
                    <li>Branding</li>
                    <li>Product Design</li>
                </ul>
            </div>

            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>

        </div> <!-- end modal-01 -->

        <div id="modal-02" class="modal-popup lity-hide">

            <img src="images/portfolio/gallery/g-lamp.jpg" alt="" />

            <div class="modal-popup__desc">
                <h5>The Lamp</h5>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <ul class="modal-popup__cat">
                    <li>Branding</li>
                </ul>
            </div>

            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>

        </div><!-- end modal-02 -->

        <div id="modal-03" class="modal-popup lity-hide">

            <img src="images/portfolio/gallery/g-minimalismo.jpg" alt="" />

            <div class="modal-popup__desc">
                <h5>Minimalismo</h5>
                <p>Exercitationem reprehenderit quod explicabo consequatur aliquid ut magni ut. Deleniti quo corrupti illum velit eveniet ratione necessitatibus ipsam mollitia.</p>
                <ul class="modal-popup__cat">
                    <li>Product Design</li>
                </ul>
            </div>

            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>

        </div><!-- end modal-03 -->

        <div id="modal-04" class="modal-popup lity-hide">

            <img src="images/portfolio/gallery/g-shutterbug.jpg" alt="" />

            <div class="modal-popup__desc">
                <h5>Shutterbug</h5>
                <p>Dolores velit qui quos nobis. Aliquam delectus voluptas quos possimus non voluptatem voluptas voluptas. Est doloribus eligendi porro doloribus voluptatum.</p>
                <ul class="modal-popup__cat">
                    <li>E-Commerce</li>
                </ul>
            </div>

            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>

        </div><!-- end modal-04 -->

        <div id="modal-05" class="modal-popup lity-hide">

            <img src="images/portfolio/gallery/g-fuji.jpg" alt="" />

            <div class="modal-popup__desc">
                <h5>Fuji</h5>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <ul class="modal-popup__cat">
                    <li>Product Design</li>
                </ul>
            </div>

            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>

        </div><!-- end modal-05 -->

        <div id="modal-06" class="modal-popup lity-hide">

            <img src="images/portfolio/gallery/g-skaterboy.jpg" alt="" />

            <div class="modal-popup__desc">
                <h5>Skaterboy</h5>
                <p>Quisquam vel libero consequuntur autem voluptas. Qui aut vero. Omnis fugit mollitia cupiditate voluptas. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                <ul class="modal-popup__cat">
                    <li>Branding</li>
                    <li>Product Design</li>
                </ul>
            </div>

            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>

        </div><!-- end modal-06 -->

    </section> <!-- end s-portfolio -->


    <!-- blog
    ================================================== -->
    <section id="blog" class="s-blog target-section s-dark">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Journal</h2>
                <p class="desc">Our latest post and rants.</p>
            </div>
        </div> <!-- end section-head -->

        <!-- Blog Entries -->
        <div class="blog-entries">
   {{#each blog}}
            <article class="blog-entry" data-aos="fade-up">

                <div class="row blog-entry__header">
                    <div class="blog-entry__avatar">
                        <img src="images/avatars/user-06.jpg" alt="Naruto Uzumaki" />
                    </div>

                    <div class="column large-9 w-1000-stack blog-entry__title">
                        <h3 class="h2"><a href="blog-single.html">{{blogHead}}</a></h3>
                    </div>

                    <div class="column large-3 w-1000-stack blog-entry__meta">
                        <span class="blog-entry__date">{{blogCreated}}</span>
                        <span class="blog-entry__byline">{{blogBy}}</span> 
                    </div>
                </div> <!-- end blog-entry__header -->

                <div class="row">

                    <div class="column large-9 w-1000-stack blog-entry__content">
                        <p>
                        {{blogDetails}}
                        <a href="blog-single.html" class="more-link">Read More</a></p>
                    </div>

                </div>

            </article> <!-- end blog-entry -->
           {{/each}}
            

        </div> <!-- end blog entries -->

    </section> <!-- end s-blog -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>About Us</h2>
                <p class="desc">This is what we are.</p>
            </div>

            <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                <p class="lead">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
                excepturi sint occaecati cupiditate. At vero eos et accusamus et iusto odio 
                dignissimos ducimus qui blanditiis praesentium.
                </p>
            </div>
        </div> <!-- end section-head -->

        <div class="row">
            <div class="column" data-aos="fade-up">
                <h4>Our Work Process.</h4>
            </div>
        </div>

        <div class="row block-large-1-4 block-medium-1-2 block-mob-full process-block">
      {{#each OurWork}}
            <div class="column process" data-aos="fade-up">
                <h6>{{title}}</h6>
    
                <p>
                {{description}}
                </p>
            </div>
   
             {{/each}}
         </div> <!-- end process-block -->

         <div class="row">
            <div class="column" data-aos="fade-up">
                <h4>Meet The Team.</h4>
            </div>
        </div>

        <div class="row block-large-1-4 block-medium-1-3 block-tab-1-2 block-500-stack team-block">
  {{#each Team}}
            <div class="column team-member" data-aos="fade-up">
                <div class="team-member__pic">
                    <img src="images/team/team-member-01.jpg" 
                         srcset="images/team/team-member-01.jpg 1x, 
                                 images/team/team-member-01@2x.jpg 2x" alt="">
                </div>
                <div class="team-member__info">
                    <p class="team-member__name">
                        {{name}}
                        <span>{{role}}r</span>
                    </p>
                    <ul class="team-member__social">
                        <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
 {{/each}}
          

        </div> <!-- end team-block -->

    </section> <!-- end s-about -->


    <!-- testimonials
    ================================================== -->
    <section id="testimonials" class="s-testimonials">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Testimonials</h2>
                <p class="desc">What our clients are saying.</p>
            </div>

        </div> <!-- end section-head -->

        <div class="row collapse">

            <div class="column testimonial-slider-outer">
  {{#each Testimonials}}
                <div class="testimonial-slider" data-aos="fade-up">

                    <div class="testimonial-slider__slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>{{name}}</strong>
                                <span>{{role}}</span>
                            </cite>
                        </div>
                        <p>
                    {{description}}
                        </p>
                    </div> <!-- end testimonials__slide -->
    
                   

 {{/each}}
                </div> <!-- end testimonial slider -->
                
            </div> <!-- end column -->

        </div> <!-- end row -->

    </section> <!-- end s-testimonials -->


    <!-- CTA
    ================================================== -->
    <section class="s-cta ss-dark">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column">
                <h2 class="section-desc">
                    Need a great reliable web hosting?
                </h2>
            </div>
        </div> <!-- end heading-block -->

        <div class="row cta-content" data-aos="fade-up">
            <div class="column">
                <p>
                We highly recommend <a href="https://www.dreamhost.com/r.cgi?287326">DreamHost</a>.
                Powerful web and Wordpress hosting. Guaranteed.
                Starting at $2.95 per month.
                </p>

                <a href="https://www.dreamhost.com/r.cgi?287326" class="btn h-full-width">Get Started</a>
            </div>
        </div> <!-- end ad-content -->

    </section> <!-- end s-cta -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section s-dark">

        <div class="row section-head">
            <div class="column large-3 medium-12">
                <h2>Contact Us</h2>
                <p class="desc">Get in touch with us.</p>
            </div>
        </div> <!-- end section-head -->

        <div class="row s-contact__content">

            <div class="column large-7 medium-12">
                <h3 class="display-1">
                    Do you have an idea or an epic project in mind? Talk to us. 
                    Let us work together and make something great. Shoot us 
                    a message.
                </h3>

                <div class="s-contact__email-us">
                     <button class="btn btn--primary h-full-width" id="chatButton" onclick="openForm()">Let's Talk</button>
                    {{!-- <a href="mailto:#0" class="btn btn--primary h-full-width">Let's Talk</a> --}}
                </div>
            </div>

            <div class="column large-4 medium-12 s-contact__info-blocks">
                <div class="row">
                    <div class="column large-12 medium-6 tab-12">
                        <div class="s-contact__info-block">
                            
                            <span class="s-contact__info-block-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2z"/><path d="M11.42 21.814a.998.998 0 001.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819zM12 4c3.309 0 6 2.691 6 6.005.021 4.438-4.388 8.423-6 9.73-1.611-1.308-6.021-5.294-6-9.735 0-3.309 2.691-6 6-6z"/></svg>
                            </span>
        
                            <h5>Find us here</h5>
                            <p>
                            kothamanglam <br>
                            kerala,india<br>
                            686691
                            </p>
                        </div> <!-- end s-contact__info-block -->
                    </div>

                    <div class="column large-12 medium-6 tab-12">
                        <div class="s-contact__info-block">
                            <span class="s-contact__info-block-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M17.707 12.293a.999.999 0 00-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 000-1.414l-4-4a.999.999 0 00-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 000-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 00-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 00.912-.271L17 14.414 19.586 17l-2.006 2.005z"/></svg>
                            </span>
        
                            <h5>Say hello</h5>
                            <p>
                            info@netotechsolutions.in <br>
                           +91 8138813237 <br>
                            +919446513237
                            </p>
                        </div> <!-- end s-contact__info-block -->
                    </div>
                </div> <!-- end row -->
            </div> <!-- end s-contact__info-blocks -->

        </div> <!-- end s-contact__content -->

    </section> <!-- end s-contact -->

<button class="open-button" id="chatButton" onclick="openForm()">Enquiery</button>

<div class="chat-popup" id="myForm">
	<div class="join-container">
		<header class="join-header">
			<h1><i class="fas fa-smile"></i> Enquery</h1>
			<button type="open-button" class="btn cancel" style="margin-left: 83%;"onclick="closeForm()">X</button>

		</header>
		<main class="join-main">
			<form id="myform" >
				<div class="form-control">
					<label for="username">name</label>
					<input
						type="text"
						name="username"
						id="username"
						placeholder="Enter username..."
						required
					/>
				</div>
				{{!-- <div class="form-control">
					<label for="username">phone number</label>
					<input
						type="text"
						name="phone"
						id="phone"
						placeholder="Enter phone number..."
						required
					/>
				</div> --}}
				<div class="form-control">
					<label for="email">email</label>
					<input
						type="email"
						name="email"
						id="email"
						placeholder="Enter email..."
						required
					/>
				</div>
				<div class="form-control">
					<label for="msg">message</label>
					<textarea
						type="text"
						name="msg"
						id="msg"
						placeholder="Enter message..."
						required style="    margin: 0px;
						width: 418px;
						height: 97px;
					}"></textarea>
					
				</div>
				<button type="submit" class="btn" onclick="sendMail()">Enquery</button>
			</form>
		</main>
	</div>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
  document.getElementById("chatButton").style.display = "none";
  


}
function sendMail() {

if($("#email").val() && $("#username").val() && $("#msg").val())
{
$.post("/mailAdmin", {
    name: $("#username").val(),
    email: $("#email").val(),
    msg:$("#msg").val()
  }, function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
  });
}
  

}

function closeForm() {
	document.getElementById("chatButton").style.display = "block";
  document.getElementById("myForm").style.display = "none";
}
</script>
<!-- MOCK SNIPPET: DO NOT COPY -->

    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
                <span>© Copyright NetoTech 2021</span> 
                <span>Design by <a href="https://www.netotechsolutions.in/">Neto Tech</a></span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
            </a>
        </div> <!-- end ss-go-top -->
    </footer>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
