<div class="container">


    <h3 class="alert alert-dark p-3 text-dark text-center">All portfolio </h3>


    <div class="row">
        <div class="col-6 mx-auto">
            <table class="table table-bordered text-center border-success text-white">
                <thead class="bg-primary">
                <tr>
                    <th>portfolio Title</th>
                    <th>project link</th>
                     <th>image url</th>
                     
                    <th>portfolio Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="table-hover bg-dark ourwork-list">
                {{#each portfolios}}
                    <tr>

                        <td>{{title}}</td>
                        <td>{{link}}</td>
                           <td class="ellipsis">{{image}}</td>
                          <td class="ellipsis">{{description}}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/portfolio/edit/{{_id}}" class="btn btn-sm btn-warning mr-2" role="button">Edit</a>
                            <form action="/admin/portfolio/{{_id}}?newMethod=DELETE" method="post">
                                {{!-- <button class="btn btn-sm btn-danger" type="submit">Delete</button> --}}
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>

            </table>
        </div>
    </div>

    <hr>

    <div class="row p-4">
        <div class="col-md-8">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="ourwork-title" name="title" value="{{portfolio.title}}">
                 <label for="title">Project Link</label>
                <input type="text" class="form-control" id="ourwork-link" name="title" value="{{portfolio.link}}">
                 <label for="title">Image URL</label>
                <input type="text" class="form-control" id="ourwork-image" name="image" value="{{portfolio.image}}">
                <label for="title">Description</label>
                <input type="text" class="form-control" id="ourwork-description" name="description" value="{{portfolio.description}}">
                <input type="hidden" class="form-control" id="ourwork-id" name="id" value="{{portfolio._id}}">
            </div>
            <button class="btn btn-outline-warning btn-lg" id="update-portfolio-button">Update portfolio</button>
        </div>
    </div>


</div>