<div class="container">


    <h3 class="alert alert-dark p-3 text-dark text-center">All Testimonials </h3>


    <div class="row">
        <div class="col-6 mx-auto">
            <table class="table table-bordered text-center border-success text-white">
                <thead class="bg-primary">
                <tr>
                    <th>Testimonial Title</th>
                    <th>Testimonial Image</th>
                    <th>Testimonial Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="table-hover bg-dark blogs-list">
                {{#each blogs}}
                    <tr>

                        <td>{{blogHead}}</td>
                         <td>{{image}}</td>
                          <td>{{blogDetails}}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/blogs/edit/{{_id}}" class="btn btn-sm btn-warning mr-2" role="button">Edit</a>
                            <form action="/admin/blogs/{{_id}}?newMethod=DELETE" method="post">
                                {{!-- <button class="btn btn-sm btn-danger" type="submit">Delete</button> --}}
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>

            </table>
        </div>
    </div>

    <hr>

    <div class="row p-4">
        <div class="col-md-8">
            <div class="form-group">
                <label for="title">Testimonial Title</label>
                <input type="text" class="form-control" id="blogs-title" name="title" value="{{blog.blogHead}}">
                 <label for="title">Testimonial Image</label>
                <input type="text" class="form-control" id="blogs-image" name="blogs-image" value="{{blog.image}}">
                <label for="title">Testimonial Description</label>
                <input type="text" class="form-control" id="blogs-description" name="description" value="{{blog.blogDetails}}">
                <input type="hidden" class="form-control" id="blogs-id" name="id" value="{{blog._id}}">
            </div>
            <button class="btn btn-outline-warning btn-lg" id="update-blogs-button">Update blogs</button>
        </div>
    </div>


</div>